.image-plat{
    width: 100%;
    height: 300px;
    overflow: hidden;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

.index2{
    position: relative;
    display: block;
    width: 100%;
    background-color: #F8F9F9;
    border: 2px solid #F8F9F9;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin: -50px 0px auto;
    z-index: 5000;
    h3{
        font-size: 18px;
        text-align: left;
        font-weight: 300;
        width: 50px;
        border-bottom: 2px solid $color-tertiary;
        margin: 10px 15px;
    }
}

.titre{
    font-family: "Shrikhand", cursive;
    display: flex;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    h2{
        display: flex;
        align-items: center;
        font-size: 30px;
        width: 80%;
        margin: 0px 0px 0px 20px;
    }
    &__heart{
        display: flex;
        align-items: center;
        
        p{
            width: 100%;
            font-size: 30px;
            &:hover{
                background-color: $color-tertiary;
            }
    }
    
    }
}

.menu{
    height: 70px;
    width: 100%;
    background-color: white;
    box-shadow: 3px 5px 8px lightgrey;
    border-radius: 20px;
    transform-origin: left;
    transition: all 0.5s;
    margin: 0px 0px;
    &__name {
        position: relative;
        bottom: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        padding: 0px 0px 0px 20px;
    }
    &__plus{
        position: relative;
        bottom: 35px;
        display: flex;
        padding: 0px 0px 0px 20px;
        &--description {
            width: 83%;
            text-align: left;
            font-weight: 300;
        }
        &--prix {
            width: 10%;
            font-weight: bold;
        }
    }
}

.entrée{
    margin-bottom: 40px;
}

.plat{
    margin-bottom: 40px;
}

.dessert{
    margin-bottom: 40px;
}

.submit {
    height: 50px;
    width: 200px;
    color: white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: 0.01px solid $color-primary;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 90px;
}

.validation{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15%;
    height: 70px;
    background-color: $color-tertiary;
    cursor: pointer;
    opacity: 0%;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    i{
        font-size: 30px;
        color: white;
        text-align: left;
    }
} 

.block{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 20px;
    transition: color 0.5s;
    &:hover .menu{
        transform: scaleX(0.85);
        border-radius: 0px;
    }
    &:hover .validation{
        transform: scaleX(1);
        background-color: $color-tertiary;
        opacity: 100%;
    }
    &:active .validation{
        background-color: white;
        & > i{
            transition: all 0.5s;
            color: darken($color-tertiary, 30%);
        }
    }
}