.image-plat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: rgba($color: $color-tertiary, $alpha: 0.5);

    p {
        position: relative;
        bottom: 40px;
        height: 100px;
        width: 30%;
        font-family: "Shrikhand", cursive;
        font-size: 45px;
        color: white;
        text-align: center;
        z-index: 1;
        @include mobile {
            display: none;
        };

        @include tablette {
            font-size: 30px;
            width: 30%;
        };
    }

    img {
        width: 75%;
        height: 600px;
        object-fit: fill;
        text-align: center;

        @include mobile {
            width: 100%;
            height: 300px;
            object-fit: cover
        };

        @include tablette {
            width: 75%;
        };
    }

    @include mobile {
        width: 100%;
        height: 300px;
    };
}

.index2 {
    position: relative;
    top: 0px;
    width: 100%;
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin: -50px 0px auto;
    z-index: 2;

    h3{
        font-size: 22px;
        text-align: center;
        font-weight: 300;
        width: 50px;
        border-bottom: 2px solid $color-tertiary;
        border-top: 2px solid $color-tertiary;
        margin: 10px auto;
        @include mobile {
            font-size: 18px;
            border-top: 0px solid $color-tertiary;
            border-left: 0px solid $color-tertiary;
            margin: 10px 15px;
        };
    }
}

.titre {
    height: 100px;
    font-family: "Shrikhand", cursive;
    display: flex;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;

    h2 {
        display: none;
        align-items: center;
        font-size: 30px;
        width: 75%;
        margin: 0px 0px 0px 20px; 
        @include mobile {
            display: flex;
        };
         @include tablette {
            display: none;
        };
    }
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 3px 5px 8px lightgrey;
    border-radius: 20px;
    transition: all 0.5s;

    @include mobile {
        height: 85px;
    };

    &__name {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        margin-top: 10px;
        margin-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__plus {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__description {
            text-align: left;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-left: 10px;
        }
        
        &__prix {
            width: 15%;
            font-weight: bold;
        }
    }
}


.entrée {
    margin-bottom: 40px;
    animation: entree 1s;
}

.plat {
    margin-bottom: 40px;
    animation: plat 1s 0.5s;
    animation-fill-mode: backwards;
}

.dessert {
    margin-bottom: 40px;
    animation: dessert 1s 1s;
    animation-fill-mode: backwards;
}

form {
    width: 200px;
    margin: 50px auto;

    .submit {
        height: 50px;
        width: 200px;
        color: white;
        background: $color-gradient;
        border: 0.01px solid $color-primary;
        box-shadow: 3px 5px 8px lightgrey;
        font-size: 20px;
        border-radius: 30px;
        cursor: pointer;
        margin: auto;

        &:hover {
            background: lighten($color-secondary, 2%);
            box-shadow: 5px 8px 4px lightgrey; ;
        }
    }
}