.index {
    height: 1510px;

    @include mobile {
        height: 1850px;
    };

    @include tablette {
        height: 2650px;
    }

}

.reservation {
    height: 300px;
    background-color: #F8F9F9;
    margin-bottom: 0px;

    @include mobile {
        height: 400px;
    };
    
    &__icon-map {
        display: flex;
        justify-content: center;
        background-color: #EAEDED;

        p{
            font-weight: bold;
            color: #353535;
        }

        i{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            color: #353535;
        }
    }
    &__text {
        &--bold {
            width: 70%;
            font-size: 30px;
            font-weight: bold;
            margin: 0px auto;
            text-align: center;
        }

        &--thin {
            font-size: 22px;
            font-weight: 300;
            text-align: center;
            
        }

        &--button {
            text-align: center;

            button {
                height: 55px;
                width: 250px;
                color: white;
                background: $color-gradient;
                box-shadow: 3px 5px 8px lightgrey;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 30px;
                padding: 0px 10px;
                margin: auto;

                &:hover {
                    background: lighten($color-secondary, 2%);
                    box-shadow: 5px 8px 4px lightgrey; ;
                }
            }
        }
    }
}

#fonctionement {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

    @include mobile {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    };

    @include tablette {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 40px;
    };
    
}

.choix {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    width: 25%;
    background-color: #F8F9F9;
    border-radius: 35px;
    box-shadow: 3px 5px 8px lightgrey;
    margin: 18px 20px;

    @include mobile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 70px;
        width: 80%;
        border-radius: 25px;
    };

    @include tablette {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 130px;
        width: 70%;
        border-radius: 25px;
        margin: 40px auto;
    };

    
    &:hover {
        background-color: lighten($color-primary, 36%);
        box-shadow:  5px 8px 4px lightgrey;
        .choix__icon {
            color: $color-primary;
        }
        
    }
    &__number {
        position: relative;
        right: 0px;
        bottom: 16px;
        text-align: center;
        height: 20px;
        width: 100%;
        color: white;
        background: $color-gradient;
        border: 2px solid $color-primary;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;

        @include mobile {
            position: relative;
            right: 10px;
            bottom: 0px;
            font-size: 14px;
            height: 20px;
            width: 22px;
            border-radius: 50%;
            background: $color-primary;
        };
    }
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: gray;
        font-size: 35px;
        margin: 0px 20px;

        @include mobile {
            font-size: 25px;
        };

        @include tablette {
            font-size: 25px;
        };


        
    }
    &__text {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        text-align: center;

        @include mobile {
            font-size: 18px;
            text-align: left;
        };

        @include tablette {
            display: flex;
            justify-content: center;
            position: relative;
            bottom: 50px;
            font-size: 25px;
            text-align: left;
        };
    }
}

#restaurants {
    background-color: #eaeaea;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 70px;
    @include mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
    };
    @include tablette {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };
}


.resto-card {
    width: 35%;
    height: 390px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 5px 8px lightgrey;
    margin: 20px 50px;
    color: black;

    @include mobile {
        height: 290px;
        width: 90%;
        margin: 15px auto;
    };

    @include tablette {
        height: 390px;
        width: 90%;
        margin: 15px auto;
    };

    &__pic {
        width: 100%;
        height: 290px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;;
        overflow: hidden;
        margin: auto;
        @include mobile {
            height: 200px;
        };

        &--size{
            width: 100%;
            height: 100%;
            object-fit: fill;
            object-position: 0px 0px;
            overflow: hidden;
            @include mobile {
                object-position: 0px 0px;
                object-fit: cover;
            };
        }

        &--size-2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0px 0px;
            overflow: hidden;
            @include mobile {
                object-position: 0px -155px;
                object-fit: cover;
            };
        }
    }

    &__name {
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-top: 10px;
        margin-left: 25px;
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        
    }

    &__place {
        display: inline-block;
        width: 35%;
        font-size: 12px;
        margin-block-start: 0em;
        margin-left: 25px;
        font-size: 23px;
        font-weight: 300;
        text-align: left;
        @include mobile {
            width: 69%;
        };
    }

    &__icon {
        position: relative;
        bottom: 10px;
        display: inline-block;
        width: 45%;
        height: 50px;
        font-size: 35px;
        font-weight: 100;
        margin: 0px 10px;
        text-align: right;
        z-index: 0;
        cursor: pointer;
        
        &:active > &--solid{
            opacity: 1;
        }
        
        @include mobile {
            width: 50px;
            &:active > &--solid{
                opacity: 1;
            }
        };
        
        &--solid {
            width: 100%;
            position: absolute;
            opacity: 0;
            background-color: #f3ec78;
            background-image: linear-gradient(45deg, $color-secondary, $color-primary);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            top: 0px;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            transition: all 0.8s ease;
            z-index: 1;
        };
    }
    &__icon-new {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 390px;
        left: 5%;
        height: 40px;
        font-weight: bold;
        font-size: 18px;
        width: 130px;
        color: darken($color-tertiary, 35%);
        background-color: $color-tertiary;
        border-radius: 5px;

        @include mobile {
            position: relative;
            bottom: 310px;
            left: 60%;
        };
         
        @include tablette {
            position: relative;
            bottom: 390px;
            left: 80%;
        };
    }
}
