$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

@keyframes body {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes entree {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes plat {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes dessert {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}