header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-family: "Shrikhand", cursive;
    font-weight: 800;
    box-shadow: 0px 5px 5px lightgray;
    margin: 5px auto;
    @include mobile {
        height: 60px;
    };

    h1 {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 300;
        height: 30px;
        @include mobile {
            font-size: 30px;
        };
    }

    a {
        position: absolute;
        height: 30px;
        top: 13px;
        bottom:0;
        left: 20px;
        right: 0;
        font-size: 20px;
        color: black;
    };
};